OPENAI_API_KEY=

WEBLATE_API_TOKEN=

WEBLATE_API_URL="https://weblate.publishpress.com/api"

TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:node-25"
WP_IMAGE_NAME="publishpress/dev-workspace-wordpress:wordpress-6.9-php-8.5"
WPCLI_IMAGE_NAME="publishpress/dev-workspace-wpcli:wpcli-2-php-8.5"

PLUGIN_NAME="PublishPress Statuses"
PLUGIN_TYPE="FREE"
PLUGIN_COMPOSER_PACKAGE="publishpress/publishpress-statuses"

TRANSLATION_OVERRIDES="PublishPress,PublishPress Statuses,PublishPress Statuses Free,PublishPress Statuses Pro,Statuses Pro,publishpress.com"

# Docker container name
CONTAINER_NAME="publishpress-statuses"

# Path to the cache directory for the dev-workspace
CACHE_PATH="./.cache"

# The slug of the plugin to be tested.
PLUGIN_SLUG="publishpress-statuses"

# The domain of the plugin to be tested.
LANG_DOMAIN="publishpress-statuses"

# The directory of the language files.
LANG_DIR="languages"

LANG_LOCALES="ar cs_CZ da_DK de_DE el es_ES fa_IR fi fr_FR he_IL hu_HU id_ID it_IT ja ko_KR nl_NL pl_PL pt_BR pt_PT ro_RO ru_RU sv_SE th tr_TR vi zh_CN"
