*.log
/vendor
/lib/**/.git
/lib/**/.env.example
/lib/**/.phpcs*
.idea
.DS_Store
/dist
.vscode/
*.code-workspace
/version.txt
.php-cs-fixer.cache
dev-workspace/.cache
dev-workspace-cache/
.env
.phplint-cache
