#submitdiv .pp-postsubmit-add-moderation {
    margin-left: 10px;
}


.pp-nested-list {
-webkit-user-select: none;  
-moz-user-select: none;    
-ms-user-select: none;      
user-select: none;
}

.pp-float-notice {
float: right;
width: 60%;
}

body.publishpress-hub_page_publishpress-statuses h3.nav-tab-wrapper {
padding-top: 0;
}

#the_status_list {
margin-bottom: 50px;
}

#the_status_list .check-column,
#status_list_header .check-column {
width:40px;
text-align:center;
display: none !important;  /* @todo: bulk deletion, bulk edit */
}

#the_status_list li div.row > div,
#status_list_header div.row > div {
display:table-cell;
}

#status_list_header > div {
height: 100%;
}

#status_list_header th {
text-align: left;
}

#the_status_list .section-toggle {
display: table-cell;
width: 30px;
text-align: left
}

#the_status_list li.section-row td.name {
width: 100%;
vertical-align: middle;
}

#the_status_list .pp-icon-arrow {
display: inline-block;
vertical-align: middle;
width: 0;
height: 0;
position: relative;
top: -3px;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 6px solid #333;
margin-left: 5px;
margin-right: 2px;
}

#the_status_list .section-toggle a{
display:inline-block;
text-align:center;
vertical-align:middle;
width:29px;
height:29px;
line-height:29px;
-webkit-box-shadow:none;
box-shadow:none;
-webkit-transition:all .2s ease;
-o-transition:all .2s ease;
transition:all .2s ease;
-webkit-transform-origin:center;
-ms-transform-origin:center;
transform-origin:center;
-webkit-transform:rotate(0);
-ms-transform:rotate(0);
transform:rotate(0)
}

#the_status_list .section-toggle a.open{
-webkit-transition:all .2s ease;
-o-transition:all .2s ease;
transition:all .2s ease;
-webkit-transform:rotate(90deg);
-ms-transform:rotate(90deg);
transform:rotate(90deg)
}

#the_status_list .child-toggle {
display:table-cell;
width:0;
text-align:left
}
#the_status_list .child-toggle .child-toggle-spacer {
display:inline-block;
vertical-align:middle;
height:50px;
width:1px
}
#the_status_list ol .child-toggle {
width: 30px;
}

#the_status_list > li.disabled-status {
opacity: 50%;
}

#the_status_list li.disabled-status span.disable {
display: none;
}

#the_status_list #status_row__disabled {
opacity: 100%;
}

#the_status_list li.disabled-status div.tpl-default {
background-color: #f4f4f4;
}

#the_status_list li.moderation-status div.tpl-default {
background-color: #fcfbe8;
/*background-color: #fcfacc;*/
/*background-color: #f9f5ed; */
}

#the_status_list li.alternate-moderation-status div.tpl-default {
background-color: #f9f4e5;
/*background-color: #fcf5e3;*/
}

#the_status_list li.private-status div.tpl-default {
background-color: #fcf0ea;
}

#the_status_list li.section-row div.row-inner {
padding-top: 15px;
}

table.status-row tr, table.status-row td {
padding : 0;
}

table.status-row td {
padding-top: 8px;
padding-bottom: 4px;
}

table.status-row td.name {
width: 25%;
}

table.status-row td.name div.row-actions span.disable a {
padding-right: 5px;
}

table.status-row td.name div.row-actions span.delete a {
padding-left: 5px;
}

table.status-row td.name div.row-actions span.delete a {
font-weight: bold;
}

#the_status_list button.add-new {
width: 28px;
margin-left: 10px;
padding-top: 2px;
padding-left: 6px;
padding-bottom: 5px;
font-weight: bold;
font-size: 16px;
}

table.status-row td.name div.row-actions {
padding-left: 20px;
}

.pp-status-color {
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}

.pp-status-color-title {
    width: auto;
    height: auto;
    padding: 1px 2px 1px 2px;
    color: black;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.pp-status-color + strong {
    margin-left: 5px;
}

.status-row td.name img.handle {
padding-right: 5px;
}

table.status-row th.name div {
padding-left: 30px;
}

table.status-row th.name {
width: 23%;
}

table.status-row th.roles, table.status-row td.roles {
width: 6%;
}

table.status-row th.icon, table.status-row td.icon {
width: 60px !important;
}

#the_status_list ol.pp-nested-list table.status-row th.icon, #the_status_list ol.pp-nested-list table.status-row td.icon {
width: 39px !important;
}

table.status-row th.post_types, table.status-row td.post_types {
width: 17%;
}

#the_status_list ol.pp-nested-list table.status-row th.post_types,
#the_status_list ol.pp-nested-list table.status-row td.post_types
{
width: 17.5%;
}

table.status-row th.enabled, table.status-row td.enabled {
width: 14%;
}

#the_status_list ol.pp-nested-list table.status-row th.enabled,
#the_status_list ol.pp-nested-list table.status-row td.enabled
{
width: 15%;
}

/*
table.status-row td.description, table.status-row th.description {
width: 35%;
}
*/

#the_status_list .status-row  .handle {
width: 30px;
text-align: center;
vertical-align: middle;
display:inline-block;
opacity:.2;
cursor:move;
position:relative;
top:-1px;
height:20px;
-webkit-transition:all .2s ease;
-o-transition:all .2s ease;
transition:all .2s ease
}

#the_status_list .status-row  .handle-disabled {
display:inline-block;
opacity:0.01;
position:relative;
top:-1px;
height:20px;
width: 35px;
}

#the_status_list span.pp-status-ordering-note {
font-weight: normal;
}

.pp-nested-list .ui-sortable-placeholder {
display:block!important;
position:relative;
min-height:46px;
border:1px dashed #0074a2!important;
background-color:#effaff;
margin:0
}

.pp-nested-list .row {
background-color:#fff;
display:table;
width:100%
}

.pp-nested-list .row.active,
.pp-nested-list .row:hover {
background-color:#f0f0f0
}

.pp-nested-list .row-inner {
display:table-cell;
vertical-align:middle;
position:relative
}

.pp-nested-list ol li ol li ol .row-inner {
padding-left:20px
}

.pp-nested-list ol{
list-style-type:none;
clear:both;
margin:0;
border:1px solid #e5e5e5;
border-radius:3px
}

.pp-nested-list ol li{
margin:0;
border-top:1px solid #e1e1e1;
background-color:#0074a2
}

.pp-nested-list ol ol{
display:none;
border-radius:0;
list-style-type:none;
border:0;
-webkit-box-shadow:none;
box-shadow:none;
border-top:1px solid #e1e1e1
}

.pp-nested-list .status-list-header{
height:46px;
}

table.status-row div.row-actions {
display: inline;
padding-left: 20px;
padding-top: 10px;
}

#addstatus p.submit {
margin-top: 10px;
}

#addstatus .form-table th, #addstatus .form-table th label {
text-align: left;
line-height: 1.3;
font-weight: 600;
}

#publishpress_icon_pick_wrap {
padding-top: 1px;
padding-bottom: 5px;
}

body.publishpress-hub_page_publishpress-statuses div.publishpress_icon_pick_button_label {
float: right;
padding-top: 1px;
padding-left: 5px;
line-height: 2em !important;
}

/*
#addstatus #publishpress_icon_pick_wrap {
padding-top: 15px;
}
*/


div.pp-statuses-post-types label {
padding-bottom: 5px;
}


td.set-status-roles div {
padding-top: 5px;
padding-bottom: 5px;
}

div.publishpress-admin #publishpress_icon_pick_preview {
padding-top: 5px;
}


/* === @todo: move to Permissions Pro css === */
table.pp-statuses-options td.post-cap label {
user-select: none;
}


table.pp-statuses-options table.cme-typecaps {
margin-top: 20px;
}


table.pp-statuses-options table.cme-typecaps th {
cursor: pointer;
text-align: center;
padding-top: 2px;
padding-bottom: 2px;
vertical-align: middle;
}


table.pp-statuses-options table.cme-typecaps  th.pp-caps-status-label {
color: #aaa;
}

table.pp-statuses-options table.cme-typecaps td.status-label-advanced {
text-align: center;
}

table.pp-statuses-options table.cme-typecaps td.status-label-advanced span {
text-align: center;
font-weight: normal;
font-size: 12px;
}

table.pp-statuses-options table.cme-typecaps td.status-label-advanced span a:hover {
text-decoration: underline;
}

table.pp-statuses-options table.cme-typecaps td.status-caps-edit,
table.pp-statuses-options table.cme-typecaps td.status-caps-edit_others,
table.pp-statuses-options table.cme-typecaps td.status-caps-delete,
table.pp-statuses-options table.cme-typecaps td.status-caps-delete_others
{
padding-top: 30px;
}

body.publishpress-hub_page_publishpress-statuses p.submit {
margin-top: 10px;
}
/* =========================================== */

@media (max-width: 768px) {
    table.status-row div.row-actions {
    padding-top: 20px;
    }
}