div#publishpress_icon_pick_wrap {
    display: inline-block;
    cursor: pointer;
    height: 36px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

div#publishpress_icon_pick_wrap span.dashicons {
    margin-right: 4px;
    line-height: 0.1;
}
